@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

        body {
            
           /* background-image: linear-gradient(to right,#f8f6f6, #434244);*/
           background-image: url(GSMULTI_1080.jpeg);
           background-size: cover;
           background-position: left;
           background-repeat: no-repeat;
           background-attachment: fixed;
            /*width: auto;*/

        }


            main {
                background-color: #f8f8f5e1;
                border-radius: 15px ;
                box-shadow: 5px 5px 15px #110027;
                width: 310px;
                padding: 10px;
                margin-left: 0%;
        
            }

        h1 {
            background-color: #4942227c;
            padding: 10px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: #0e124bf1;
            text-shadow:1px 1px 1px #9092b1;
            text-align: center;
        }
        h2 {
            font-family: "Indie Flower", cursive;
            font-size: 3em;
            font-weight: 990;
            font-style: normal;
            color: rgb(182, 53, 3);
            text-shadow: 1px 1px 1px rgb(238, 236, 240);
        }
            


        h3 {
            width: 320px;
            background-color: #5f5a46f3;
            border-radius:15px ;
            box-shadow: 5px 5px 15px #110027;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: #f5ded2;
        }
        
        .lista-horizontal {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 10px;
            width: 350px;
            background-color: #f5f2e7f3;
            border-radius:15px ;
            box-shadow: 5px 5px 15px #110027;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: #f5ded2;
        }

        p {
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            color: #a35324;
        }
    footer {
        background-color: #a35324;
        padding: 10px;
        text-align: center;
        margin-top: 20px;
    }

    
    </style>